[submodule "app"]
	path = app
	url = git@github.com:connectedacademy/elevator.git
        branch = master
[submodule "api/examples/addiction"]
	path = api/examples/addiction
	url = git@github.com:connectedacademy/addiction.git
        branch = master
[submodule "api/examples/template"]
	path = api/examples/template
	url = git@github.com:connectedacademy/template.git
        branch = master
